.triangle {
  width: 20rem;
  aspect-ratio: 1;
  clip-path: polygon(0 0,100% 0,100% 100%);
  background: linear-gradient(to bottom, white, #7c7c7c);
  background: -webkit-linear-gradient(top, white, #7c7c7c);
}